<% flash.each do |key, message| %>
  <div data-controller="flash" class="alert <%= bootstrap_class_for(key) %> alert-dismissible fade show">
    <%= content_tag :div, message %>
    <button type="button" data-action="flash#dismiss" class="btn-close"></button>
  </div>
<% end %>
