<%= turbo_frame_tag @car_park do %>
  <div data-controller="car-park" data-action="turbo:submit-end->car-park#formSubmitEnd" %>>
    <div class="card border-dark p-2 mt-1 bg-secondary">
      <div>
        <%= link_to "Back", ar_car_parks_path, class: 'btn btn-primary btn-sm mb-2' %>
      </div>
      <%= render 'form', car_park: @car_park %>
    </div>
  </div>
<% end %>
